{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}


<br />
<h1>Sign Up!</h1>
<br />

<div class="container">
    <form method="POST" class="form-horizontal" action="{% url 'signup' %}">
            {% csrf_token %}
      <div class="form-group">
        <label class="control-label col-xs-2">name</label>
        <div class="col-xs-5">
          <input type="text" name="username" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2">password</label>
        <div class="col-xs-5">
          <input type="password" name="password1" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2">comform password</label>
        <div class="col-xs-5">
          <input type="password" name="password2" class="form-control">
        </div>
      </div>
      <br />
      <button type="submit">Sign Up!</button>
    </form>
</div>


{% endblock %}

